version: "3.9"

services:
  backend:
    build: ./backend
    container_name: seo-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    container_name: seo-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
